html, body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: white;
  padding: 10px;
  font-size: 12pt;
}

html {
  height: 100%;
  overflow: hidden;
}

#flashcontent {
  height: 100%;
}
/* end hide */

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #666;
  overflow: scroll;
}

h3 {
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#nav ul {
  width: 800px;
}

#nav li {
  display: inline-block;
  font-size: .8em;
  font-weight: bold;
  margin-right: 10px;
  padding: 0 10px;
}

#recent-work-gallery {
  margin: 50px 0 0 100px;
}

#recent-work h3 {
  margin: 75px 0 0 100px;
}

#recent_work2 {
  display: block;
  width: 725px;
  height: auto;
  background: black;
  margin-left: 100px;
  margin-bottom: 100px;
  padding: 10px;
  text-align: center
}

#recent_work2 li {
  list-style: none;
  display: inline-block;
  border: 2px solid white;
  margin: 12px 10px;
  height: 50px;
  width: 65px;
  overflow: hidden;
  vertical-align: middle;
}


a.fancybox {
  width: 100%;
  height: 100%;
  display: block;
}

.is-sold:before {
 content: "";
 display: block;
 width: 20px;
 height: 20px;
 border-radius: 10px;
 background: red;
 position: relative;
 top: 10px;
 left: -10px;
 z-index: 10;
}